<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Hourglass.Properties.Settings>
            <setting name="MostRecentOptionsInfo" serializeAs="Xml">
                <value>
                    <TimerOptionsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <Title />
                        <AlwaysOnTop>false</AlwaysOnTop>
                        <PromptOnExit>true</PromptOnExit>
                        <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                        <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                        <ReverseProgressBar>false</ReverseProgressBar>
                        <ShowTimeElapsed>false</ShowTimeElapsed>
                        <LoopTimer>false</LoopTimer>
                        <PopUpWhenExpired>true</PopUpWhenExpired>
                        <CloseWhenExpired>false</CloseWhenExpired>
                        <ShutDownWhenExpired>false</ShutDownWhenExpired>
                        <ThemeIdentifier>blue</ThemeIdentifier>
                        <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                        <LoopSound>true</LoopSound>
                        <WindowTitleMode>ApplicationName</WindowTitleMode>
                        <WindowSize>
                            <RestoreBounds>
                                <Location>
                                    <X>179.20000000000002</X>
                                    <Y>179.20000000000002</Y>
                                </Location>
                                <Size>
                                    <Width>350.40000000000003</Width>
                                    <Height>150.4</Height>
                                </Size>
                                <X>179.20000000000002</X>
                                <Y>179.20000000000002</Y>
                                <Width>350.40000000000003</Width>
                                <Height>150.4</Height>
                            </RestoreBounds>
                            <WindowState>Normal</WindowState>
                            <RestoreWindowState>Normal</RestoreWindowState>
                            <IsFullScreen>false</IsFullScreen>
                        </WindowSize>
                        <LockInterface>false</LockInterface>
                    </TimerOptionsInfo>
                </value>
            </setting>
            <setting name="OpenSavedTimersOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prefer24HourTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInNotificationArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerInfos" serializeAs="Xml">
                <value>
                    <ArrayOfTimerInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-01-21T02:53:34.7001546+02:00</StartTime>
                            <EndTime>2024-01-21T05:53:34.7001546+02:00</EndTime>
                            <TimeElapsed>393478114</TimeElapsed>
                            <TimeLeft>107606521886</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>108000000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>0</Weeks>
                                    <Days>0</Days>
                                    <Hours>3</Hours>
                                    <Minutes>0</Minutes>
                                    <Seconds>0</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>true</LoopSound>
                                <WindowTitleMode>ApplicationName</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>179.20000000000002</X>
                                            <Y>179.20000000000002</Y>
                                        </Location>
                                        <Size>
                                            <Width>350.40000000000003</Width>
                                            <Height>150.4</Height>
                                        </Size>
                                        <X>179.20000000000002</X>
                                        <Y>179.20000000000002</Y>
                                        <Width>350.40000000000003</Width>
                                        <Height>150.4</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-01-21T02:48:41.3065338+02:00</StartTime>
                            <EndTime>2024-01-21T05:48:41.3065338+02:00</EndTime>
                            <TimeElapsed>3327414322</TimeElapsed>
                            <TimeLeft>104672585678</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>108000000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>0</Weeks>
                                    <Days>0</Days>
                                    <Hours>3</Hours>
                                    <Minutes>0</Minutes>
                                    <Seconds>0</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>false</LoopSound>
                                <WindowTitleMode>ApplicationName</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>179.20000000000002</X>
                                            <Y>179.20000000000002</Y>
                                        </Location>
                                        <Size>
                                            <Width>350.40000000000003</Width>
                                            <Height>150.4</Height>
                                        </Size>
                                        <X>179.20000000000002</X>
                                        <Y>179.20000000000002</Y>
                                        <Width>350.40000000000003</Width>
                                        <Height>150.4</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-01-21T02:48:34.6196836+02:00</StartTime>
                            <EndTime>2024-01-21T05:48:34.6196836+02:00</EndTime>
                            <TimeElapsed>3394282824</TimeElapsed>
                            <TimeLeft>104605717176</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>108000000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>0</Weeks>
                                    <Days>0</Days>
                                    <Hours>3</Hours>
                                    <Minutes>0</Minutes>
                                    <Seconds>0</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>false</LoopSound>
                                <WindowTitleMode>ApplicationName</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>179.20000000000002</X>
                                            <Y>179.20000000000002</Y>
                                        </Location>
                                        <Size>
                                            <Width>350.40000000000003</Width>
                                            <Height>150.4</Height>
                                        </Size>
                                        <X>179.20000000000002</X>
                                        <Y>179.20000000000002</Y>
                                        <Width>350.40000000000003</Width>
                                        <Height>150.4</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-01-21T02:47:57.1241683+02:00</StartTime>
                            <EndTime>2024-02-11T02:47:57.1241683+02:00</EndTime>
                            <TimeElapsed>3769237977</TimeElapsed>
                            <TimeLeft>18140230762023</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>18144000000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>3</Weeks>
                                    <Days>0</Days>
                                    <Hours>0</Hours>
                                    <Minutes>0</Minutes>
                                    <Seconds>0</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>false</LoopSound>
                                <WindowTitleMode>ApplicationName</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>179.20000000000002</X>
                                            <Y>179.20000000000002</Y>
                                        </Location>
                                        <Size>
                                            <Width>350.40000000000003</Width>
                                            <Height>150.4</Height>
                                        </Size>
                                        <X>179.20000000000002</X>
                                        <Y>179.20000000000002</Y>
                                        <Width>350.40000000000003</Width>
                                        <Height>150.4</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-01-21T02:47:42.6307694+02:00</StartTime>
                            <EndTime>2024-01-24T02:47:42.6307694+02:00</EndTime>
                            <TimeElapsed>3914171966</TimeElapsed>
                            <TimeLeft>2588085828034</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>2592000000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>0</Weeks>
                                    <Days>3</Days>
                                    <Hours>0</Hours>
                                    <Minutes>0</Minutes>
                                    <Seconds>0</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>false</LoopSound>
                                <WindowTitleMode>ApplicationName</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>179.20000000000002</X>
                                            <Y>179.20000000000002</Y>
                                        </Location>
                                        <Size>
                                            <Width>350.40000000000003</Width>
                                            <Height>150.4</Height>
                                        </Size>
                                        <X>179.20000000000002</X>
                                        <Y>179.20000000000002</Y>
                                        <Width>350.40000000000003</Width>
                                        <Height>150.4</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Running</State>
                            <StartTime>2024-01-21T02:47:34.9392495+02:00</StartTime>
                            <EndTime>2024-01-21T05:47:34.9392495+02:00</EndTime>
                            <TimeElapsed>3991087165</TimeElapsed>
                            <TimeLeft>104008912835</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>108000000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>0</Weeks>
                                    <Days>0</Days>
                                    <Hours>3</Hours>
                                    <Minutes>0</Minutes>
                                    <Seconds>0</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <PromptOnExit>true</PromptOnExit>
                                <ShowProgressInTaskbar>true</ShowProgressInTaskbar>
                                <DoNotKeepComputerAwake>false</DoNotKeepComputerAwake>
                                <ReverseProgressBar>false</ReverseProgressBar>
                                <ShowTimeElapsed>false</ShowTimeElapsed>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ShutDownWhenExpired>false</ShutDownWhenExpired>
                                <ThemeIdentifier>blue</ThemeIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>false</LoopSound>
                                <WindowTitleMode>ApplicationName</WindowTitleMode>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>179.20000000000002</X>
                                            <Y>179.20000000000002</Y>
                                        </Location>
                                        <Size>
                                            <Width>350.40000000000003</Width>
                                            <Height>150.4</Height>
                                        </Size>
                                        <X>179.20000000000002</X>
                                        <Y>179.20000000000002</Y>
                                        <Width>350.40000000000003</Width>
                                        <Height>150.4</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                                <LockInterface>false</LockInterface>
                            </Options>
                        </TimerInfo>
                    </ArrayOfTimerInfo>
                </value>
            </setting>
            <setting name="TimerStartInfos" serializeAs="Xml">
                <value>
                    <ArrayOfTimerStartInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>0</Minutes>
                                <Seconds>3</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>3</Hours>
                                <Minutes>0</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>3</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>0</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>3</Days>
                                <Hours>0</Hours>
                                <Minutes>0</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>3</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>1</Hours>
                                <Minutes>0</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                    </ArrayOfTimerStartInfo>
                </value>
            </setting>
            <setting name="UniqueId" serializeAs="String">
                <value>6c6bd226-8924-4a5f-811d-754ae9f07736</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserProvidedThemeInfos" serializeAs="Xml">
                <value>
                    <ArrayOfThemeInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="WindowSizeInfo" serializeAs="Xml">
                <value>
                    <WindowSizeInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <RestoreBounds>
                            <Location>
                                <X>179.20000000000002</X>
                                <Y>179.20000000000002</Y>
                            </Location>
                            <Size>
                                <Width>350.40000000000003</Width>
                                <Height>150.4</Height>
                            </Size>
                            <X>179.20000000000002</X>
                            <Y>179.20000000000002</Y>
                            <Width>350.40000000000003</Width>
                            <Height>150.4</Height>
                        </RestoreBounds>
                        <WindowState>Normal</WindowState>
                        <RestoreWindowState>Normal</RestoreWindowState>
                        <IsFullScreen>false</IsFullScreen>
                    </WindowSizeInfo>
                </value>
            </setting>
        </Hourglass.Properties.Settings>
    </userSettings>
</configuration>