portable_open_source_apps/*
.vscode/settings.json
portable_open_source_apps/CsvFileView/CSVFileView.cfg
portable_open_source_apps/JsonEdit/JSONedit.cfg
portable_open_source_apps/CsvFileView/CSVFileView.cfg
portable_open_source_apps/JsonEdit/JSONedit.cfg
i.bat
i.lnk
o.bat
o.lnk
u.bat
u.lnk
python/__pycache__/env_var_utils.cpython-39.pyc
python/__pycache__/help_utils.cpython-39.pyc
python/o/__pycache__/shot.cpython-39.pyc
python/o/__pycache__/note.cpython-39.pyc
python/o/__pycache__/json.cpython-39.pyc
python/o/__pycache__/csv.cpython-39.pyc
python/o/__pycache__/compare.cpython-39.pyc
python/__pycache__/message.cpython-39.pyc
