pypiwin32
pyautogui
pywin32
winregistry
pyperclip
pytest-shutil
pathlib
windows-curses
pytz
validators
pyvda
psutil
pyperclip==1.8.1
websockets
requests
py7zr
rarfile
boto3
selenium
telegram
python-telegram-bot
win10toast